@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "About";
}

	<section class="content-wrapper main-content clear-fix">

		<hgroup class="title">
			<h2>@Page.Title</h2>
			<h4 style="margin-top:12px;">Newport Crest Online!</h4>
		</hgroup>

		<article>
			<p style="margin-top:6px;">
				This is a free, unofficial resource for news and information regarding Newport Crest.
			</p>
			<p>
				The purpose of this website is to assist and enhance communication between the board of directors, owner-members and residents of Newport Crest.
			</p>
			<p>
				This resource is freely available for use by the on-site manager of Newport Crest and by any member of its board of directors, owners of residential units and/or residents of Newport Crest.
			</p>
			<p>
				This website is the property of Soft Systems, Inc. who may at anytime withdraw this service without prior notification. Use of this service is licensed to the above stated individuals free of charge and without warranty of any kind.
			</p>
			<p>
				The content of this website is assembled from various sources.  Soft Systems, Inc. does not guarantee accuracy of this content nor does it indemnify or protect any source of information from any legal liability that source has incurred or may incur.
			</p>
			<p>
				Soft Systems, Inc. may collect user information to authenticate licensed individuals. This information will neither be sold nor rented. However, it may be disclosed to law enforcement officials if we are asked to do so, and it could be leaked by service providers whose hosting platforms we do not own.
			</p>
			<p>
				This website does not track users off-site nor does it generate off-site useage data.
			</p>
			<p>
				Any poll or survey results collected by this website shall be shared with members of the board of directors of Newport Crest and with its designated community manager.
			</p>
		</article>

	</section>