@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Contact";
}

<section class="content-wrapper main-content clear-fix">

	<hgroup class="title">
		<h2>@Page.Title</h2>
		<h4 style="margin-left:3px; margin-top:6px;">Community Management</h4>
	</hgroup>

	<section class="contact">
		<header>
			<h3><a href="https://newportcrest.org/index.php/contact-us">Optumum Professional Property Management</a></h3>
		</header>
		<p>
			<span class="label" style="margin-left:12px;">On-Site:</span>
			<span>Kathleen Small 949-631-0925</span>
		</p>
		<p>
			<span class="label" style="margin-left:12px;">Hours:</span>
			<span>8 a.m. to 5 p.m.</span>
		</p>
	</section>

	<section class="contact" style="margin-top:20px;">
		<header>
			<h3>Board of Directors</h3>
		</header>
		<p style="margin-left:20px;">
			201 Intrepid Court<br />
			Newport Beach, CA 92663
		</p>
	</section>

	<section class="contact" style="margin-top:20px;">
		<header>
			<h3>Volunteer Webmaster</h3>
		</header>
		<p>
			<span class="label" style="margin-left:12px;">Support:</span>
			<span><a href="mailto:Karl.Fetterhoff@softsystemscorp.net">Support@SoftSystemsCorp.net</a></span>
		</p>
	</section>

</section>