@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Under Construction";
}

@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@Page.Title.</h1>
				<h2>Pardon our dust as we build-out this exciting and useful website!</h2>
			</hgroup>
			<p>
				Welcome Residents / Owners  --  Enjoy news and information collected from various sources
				and made available here to better inform on a range of topics relevent to our beautiful community.
			</p>
		</div>
	</section>
}

<section class="content-wrapper main-content clear-fix">
	<h3>Got content pertinent to Newport Crest?</h3>

	<ol class="round">
		<li class="one">
			<h5>Press Releases</h5>
			Submit your press release for review by our volunteer webmaster at:
			<p><a href="mailto:Karl.Fetterhoff@softsystemscorp.net">Support@SoftSystemsCorp.net</a></p>
		</li>

		<li class="two">
			<h5>Links to Relevant Pages</h5>
			Submit those links to our volunteer webmaster at:
			<p><a href="mailto:Karl.Fetterhoff@softsystemscorp.net">Support@SoftSystemsCorp.net</a></p>
		</li>

		<li class="three">
			<h5>Ideas and Suggestions</h5>
			Let's her it! Inform our volunteer webmaster at:
			<p><a href="mailto:Karl.Fetterhoff@softsystemscorp.net">Support@SoftSystemsCorp.net</a></p>
		</li>
	</ol>
</section>